#homeLogo {
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  width: 125px;
  height: 25px;
  margin-left: 22px;
  margin-right: 22px;
}

#chat-container {
  height: 870px;
}

#messageForm {
  float: right;
  width: 77%;
  padding: 14px;
  margin-top: -7px;
  margin-right: 5px;
}

#messageTextArea {
  width: 90%;
  padding: 10px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

#messageBtn {
  float: right;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 127, 39, 1);
  background-image: url("img/message_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;

  /*
  background-color: white;
  background-image: url("img/user_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  height: 56px;
  width: 56px;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 4px;*/
}

/*----------------------------------------------------------------------------*/

.topnav {
  background-color: white;
  overflow: hidden;
  display: inline-block;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav .icon {
  display: none;
}

.center {
  margin: auto;
  width: 300px;
  margin-top: 350px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.logo {
  width: 200px;
}

.indexInput {
  margin-top: 5px;
  padding: 5px;
  border: solid;
  border-color: rgba(173, 173, 173, 0.5);
  border-radius: 2px;
  border-width: 1.25px;
}

.indexLoginElements {
  margin-left: 15px;
  width: 200px;
}

.modal-container {
  padding: 16px;
  border-radius: 5px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 300px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
  border-radius: 5px;
}

.modal-input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.checkbox {
  padding: 5px;
}

.container {
  margin: auto;
  width: 950px;
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: -8px;
}

.userBtn {
    background-color: white;
    background-image: url("img/user_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    height: 56px;
    width: 56px;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 4px;
}

.userMenu {
    position: relative;
    display: inline-block;
    float: right;
}

.userMenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -104px;
}

.userMenu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.userMenu-content a:hover {background-color: #f1f1f1}

.userMenu:hover .userMenu-content {
    display: block;
}

.userMenu:hover .userBtn {
    background-color: #f1f1f1;
}

.separator {
  height: 8px;
  border-bottom-style: solid;
  border-color: lightgrey;
  border-width: 2px;
  margin: auto;
  width: 97%;
}

/*----------------------------------------------------------------------------*/

html{
  font-family: sans-serif;
  font-size: 13px;
  background: url(img/index_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/*----------------------------------------------------------------------------*/

@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav button:not(:first-child) {display: none;}
  .topnav button.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive button {
    float: none;
    display: block;
    text-align: left;
  }
}
